.env

# Laravel
laravel-api/vendor/
laravel-api/node_modules/
laravel-api/.env

# React
reactfront/node_modules/
reactfront/dist/

# Base de datos local
database/*.sql

# Archivos del sistema
.DS_Store
Thumbs.db

# Docker / temporales
*.log

# VSCode Local History
.history/
nbproject/
